@use '../variables' as vars;

.embedContainer {
  margin-top: 30px;
  width: 100%;
  position: relative;
  
  #cannanas {
    width: 100%;
    min-height: 500px;
  }
}

.loading {
  text-align: center;
  padding: 50px;
  color: var(--color-secondary);
  font-size: 16px;
}