@use '../variables' as vars;

.mapContainer {
  margin-top: 30px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  iframe {
    display: block;
    width: 100%;
  }
}